
edsm_to_sql/edsm_to_sql/obj/Debug/

edsm_to_sql/edsm_to_sql/Properties/

edsm_to_sql/\.vs/edsm_to_sql/v15/\.suo

edsm_to_sql/\.vs/edsm_to_sql/v15/sqlite3/storage\.ide

src/data/logs_eric\.json

node_modules/
