/*$colorMap:(
	backgroundSolid:#292c2e
	navBarBackground: (
		active: 		#596063,
		inactive: 		#3b4042
	),
	navBarBorder: 		#0a0a0c,
	texts:(
		navbar:	(
			systemName: #c3c3c3,
			date:		#8e8e8e
		)	
	)
);*/