
//Defines Preloader and Loader styling
.preloader {
  height: 100%;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .preload_obj {
    background-color: $loaderColor;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 50%;

    &.preload_active {
      opacity: 0;
    }
  }
  .preload_left {
    left: -50%;

    &.preload_active {
      left: 0 !important;
    }
  }

  .preload_right {
    left: 100%;

    &.preload_active {
      left: 50% !important;
    }
  }



}
