
/* TODO: Define vars  */

$primaryColor: none;
$secondaryColor: none;

$backgroundColor: none;
$loaderColor: none;


//Button Color Definitions

$btnNeutral: none;
$btnNeutralHover: none;
$btnBorderNeutral: none;
$btnNeutralText: none;

$btnWarn: none;
$btnWarnHover: none;
$btnBorderWarn: none;
$btnWarnText: none;


$btnError: none;
$btnErrorHover: none;
$btnBorderError: none;
$btnErrorText: none;


$btnInfo: none;
$btnInfoHover: none;
$btnBorderInfo: none;
$btnInfoText: none;


$btnConfirm: none;
$btnConfirmHover: none;
$btnBorderConfirm: none;
$btnNeutralText: none;
