$color_systemname: #f7f7f7;
$color_systemdate: #b1b1b1;
$nav_backgrd: #19191e;
$nav_backgrd_active: #2f2f34;
$nav_iconcolor: #b5b5b5;
$loader_backgrd: $nav_backgrd;
$loader_color_text1: $color_systemname;
$loader_color_text2: $color_systemdate;
$color_checkmark_checked: #75b979;
$color_checkmark_unchecked: #b97581;



$backgroundColor: #eaeaea;
$loaderColor: #232323;
$borderColor: #cccccc;
